<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StaticPIMMetamodel -->
      <package
            uri="platform:/resource/MyCore/resources/mm/PIM/StaticPIMMetamodel.ecore"
            class="StaticPIM.StaticPIMPackage"
            genModel="resources/mm/PIM/StaticPIMMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DynamicPIMMetamodel -->
      <package
            uri="platform:/resource/MyCore/resources/mm/PIM/DynamicPIMMetamodel.ecore"
            class="DynamicPIM.DynamicPIMPackage"
            genModel="resources/mm/PIM/DynamicPIMMetamodel.genmodel"/>
   </extension>

</plugin>