<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PIMMetamodel -->
      <package
            uri="src/metamodels/PIMMetamodel.ecore"
            class="ServicePIM.ServicePIMPackage"
            genModel="src/metamodels/PIMMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ServicePIMMetamodel -->
      <package
            uri="resources/mm/PIM/QueryPIMMetamodel.ecore"
            class="QueryPIM.QueryPIMMetamodelPackage"
            genModel="resources/mm/PIM/ServicePIMMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ServicePIMMetamodel -->
      <package
            uri="resources/mm/PIM/SecurityPIMMetamodel.ecore"
            class="SecurityPIM.SecurityPIMMetamodelPackage"
            genModel="resources/mm/PIM/ServicePIMMetamodel.genmodel"/>
   </extension>

null

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ActivityDiagram -->
      <package
            uri="resources/mm/CIM/ActivityDiagram.ecore"
            class="ActivityDiagramMetamodel.ActivityDiagramMetamodelPackage"/>
   </extension>

</plugin>
