<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PIMMetamodel -->
      <package
            uri="src/metamodels/PIMMetamodel.ecore"
            class="ServicePIM.ServicePIMPackage"
            genModel="src/metamodels/PIMMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ServicePIMMetamodel -->
      <package
            uri="src/metamodels/PIM/QueryPIMMetamodel.ecore"
            class="QueryPIM.QueryPIMMetamodelPackage"
            genModel="src/metamodels/PIM/ServicePIMMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ServicePIMMetamodel -->
      <package
            uri="src/metamodels/PIM/SecurityPIMMetamodel.ecore"
            class="SecurityPIM.SecurityPIMMetamodelPackage"
            genModel="src/metamodels/PIM/ServicePIMMetamodel.genmodel"/>
   </extension>

null

<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="src/metamodels/Application.view"/>
</extension>
</plugin>
