<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
    <intAttribute key="migratedModel" value="1"/>
    <listAttribute key="models">
        <listEntry value="#Fri Dec 25 23:20:59 IRST 2020&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/MyCore/resources/examples/cargo/PIM/Staticview.model&#13;&#10;metamodelUri=&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;expand=false&#13;&#10;fileBasedMetamodelUri=platform\:/resource/MyCore/resources/mm/PIM/StaticviewMetamodel-Flock.emf&#13;&#10;metamodelFile=/MyCore/resources/mm/PIM/StaticviewMetamodel-Flock.emf&#13;&#10;cached=false&#13;&#10;name=Original&#13;&#10;modelUri=platform\:/resource/MyCore/resources/examples/cargo/PIM/Staticview.model&#13;&#10;isMetamodelFileBased=true"/>
        <listEntry value="#Fri Dec 25 23:20:53 IRST 2020&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/MyCore/resources/examples/cargo/PIM/DynamicPIM.model&#13;&#10;metamodelUri=&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;expand=false&#13;&#10;fileBasedMetamodelUri=platform\:/resource/MyCore/resources/mm/PIM/DynamicPIMMetamodel-Flock.emf&#13;&#10;metamodelFile=/MyCore/resources/mm/PIM/DynamicPIMMetamodel-Flock.emf&#13;&#10;cached=true&#13;&#10;name=Migrated&#13;&#10;modelUri=platform\:/resource/MyCore/resources/examples/cargo/PIM/DynamicPIM.model&#13;&#10;isMetamodelFileBased=true"/>
    </listAttribute>
    <intAttribute key="originalModel" value="0"/>
    <stringAttribute key="source" value="/MyCore/resources/modeling/migration/Static.mig"/>
</launchConfiguration>
