<div>
    <h2 id="page-heading">
        <span jhiTranslate="secondApp.accountEntity.home.title">Account Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-entity" [routerLink]="['/account-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="secondApp.accountEntity.home.createLabel">
            Create new Account Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accountEntities?.length === 0">
        <span jhiTranslate="secondApp.accountEntity.home.notFound">No accountEntities found</span>
    </div>
    <div class="table-responsive" *ngIf="accountEntities?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="secondApp.accountEntity.username">Username</span></th>
            <th><span jhiTranslate="secondApp.accountEntity.password">Password</span></th>
            <th><span jhiTranslate="secondApp.accountEntity.bookmark">Bookmark</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountEntity of accountEntities ;trackBy: trackId">
                <td><a [routerLink]="['/account-entity', accountEntity.id, 'view' ]">{{accountEntity.id}}</a></td>
                <td>{{accountEntity.username}}</td>
                <td>{{accountEntity.password}}</td>
                <td>
                    <div *ngIf="accountEntity.bookmark">
                        <a [routerLink]="['../bookmark', accountEntity.bookmark?.id, 'view' ]" >{{accountEntity.bookmark?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/account-entity', accountEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/account-entity', accountEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'account-entity', { outlets: { popup: accountEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
