<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountEntity">
            <h2><span jhiTranslate="secondApp.accountEntity.detail.title">Account Entity</span> {{accountEntity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="secondApp.accountEntity.username">Username</span></dt>
                <dd>
                    <span>{{accountEntity.username}}</span>
                </dd>
                <dt><span jhiTranslate="secondApp.accountEntity.password">Password</span></dt>
                <dd>
                    <span>{{accountEntity.password}}</span>
                </dd>
                <dt><span jhiTranslate="secondApp.accountEntity.bookmark">Bookmark</span></dt>
                <dd>
                    <div *ngIf="accountEntity.bookmark">
                        <a [routerLink]="['/bookmark', accountEntity.bookmark?.id, 'view']">{{accountEntity.bookmark?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-entity', accountEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
