<div>
    <h2 id="page-heading">
        <span jhiTranslate="secondApp.bookmark.home.title">Bookmarks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bookmark" [routerLink]="['/bookmark/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="secondApp.bookmark.home.createLabel">
            Create new Bookmark
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bookmarks?.length === 0">
        <span jhiTranslate="secondApp.bookmark.home.notFound">No bookmarks found</span>
    </div>
    <div class="table-responsive" *ngIf="bookmarks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="secondApp.bookmark.bookmarkName">Bookmark Name</span></th>
            <th><span jhiTranslate="secondApp.bookmark.bookmarkUrl">Bookmark Url</span></th>
            <th><span jhiTranslate="secondApp.bookmark.visibility">Visibility</span></th>
            <th><span jhiTranslate="secondApp.bookmark.tag">Tag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookmark of bookmarks ;trackBy: trackId">
                <td><a [routerLink]="['/bookmark', bookmark.id, 'view' ]">{{bookmark.id}}</a></td>
                <td>{{bookmark.bookmarkName}}</td>
                <td>{{bookmark.bookmarkUrl}}</td>
                <td jhiTranslate="{{'secondApp.VisibilityType.' + bookmark.visibility}}">{{bookmark.visibility}}</td>
                <td>
                    <div *ngIf="bookmark.tag">
                        <a [routerLink]="['../tag', bookmark.tag?.id, 'view' ]" >{{bookmark.tag?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bookmark', bookmark.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bookmark', bookmark.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bookmark', { outlets: { popup: bookmark.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
