<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bookmark-heading" jhiTranslate="secondApp.bookmark.home.createOrEditLabel">Create or edit a Bookmark</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="secondApp.bookmark.bookmarkName" for="field_bookmarkName">Bookmark Name</label>
                    <input type="text" class="form-control" name="bookmarkName" id="field_bookmarkName"
                           formControlName="bookmarkName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="secondApp.bookmark.bookmarkUrl" for="field_bookmarkUrl">Bookmark Url</label>
                    <input type="text" class="form-control" name="bookmarkUrl" id="field_bookmarkUrl"
                           formControlName="bookmarkUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="secondApp.bookmark.visibility" for="field_visibility">Visibility</label>
                    <select class="form-control" name="visibility" formControlName="visibility" id="field_visibility">
                        <option value="PUBLIC">{{'secondApp.VisibilityType.PUBLIC' | translate}}</option>
                        <option value="PRIVATE">{{'secondApp.VisibilityType.PRIVATE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="secondApp.bookmark.tag" for="field_tag">Tag</label>
                    <select class="form-control" id="field_tag" name="tag" formControlName="tag">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tagOption.id === editForm.get('tag').value?.id ? editForm.get('tag').value : tagOption" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
